
<Files "config.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "*.sql">
    Order Allow,Deny
    Deny from all
</Files>

ErrorDocument 404 /404.php
ErrorDocument 500 /500.php

RewriteEngine On

<Files ".*">
    Order Allow,Deny
    Deny from all
</Files>